* {
  box-sizing: border-box;
}

html,
body,
.psb-sandbox {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-main);
  font-size: 100%;
  line-height: var(--size-line-single);
  color: var(--color-text-default-normal);
  background: var(--color-background-foundation);
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}
