@use "../functions" as f;

.box {
  padding: f.spacer(6) 0;
  border: f.border-width(s) solid f.color(border, neutral, "1");
  border-radius: f.radius(m);
  box-shadow: f.shadow(medium);

  > * + * {
    margin-top: f.spacer(4);
  }

  > header,
  > .box-body,
  > footer {
    padding: 0 f.spacer(6);
  }

  > header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    > h2 {
      margin: 0;
      font-size: f.size(l);
      font-weight: f.weight(medium);
    }

    > .box-banner {
      flex: 0 0 calc(100% + #{f.spacer(12)});
      order: -1;
      margin-top: f.spacer(-6);
      margin-bottom: f.lines(half);
      margin-left: f.spacer(-6);

      > img {
        border-top-left-radius: f.radius(m);
        border-top-right-radius: f.radius(m);
      }
    }
  }

  > footer {
    font-size: f.size(xs);
    color: f.color(text, secondary, subdued);
  }
}
