@use "../functions" as f;

.carousel {
  --item-width: 600px;

  width: 100%;

  .carousel-inner {
    display: flex;
    flex-direction: column;
    gap: f.spacer(4);
    width: 100%;
    overflow-x: hidden;
  }

  .carousel-items-container {
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }

  .carousel-items {
    display: flex;
    width: fit-content;

    // Provide enough padding on the left and right so that items at the edges can
    // be scrolled to the center.
    padding-right: calc(50% - var(--item-width) / 2);
    padding-left: calc(50% - var(--item-width) / 2);
  }

  .carousel-item {
    flex-shrink: 0;
    width: var(--item-width);
    scroll-snap-align: center;
    opacity: 0.4;
    transform: scale(0.9);
    transition:
      opacity 0.4s ease,
      transform 0.4s ease;

    &[aria-current="true"] {
      opacity: 1;
      transform: scale(1);
    }
  }

  .carousel-controls {
    display: flex;
    gap: f.spacer(2);
    align-items: center;
    justify-content: center;

    .carousel-previous {
      order: 1;
      cursor: pointer;
    }

    .carousel-pagination {
      order: 2;

      div[role="tablist"] {
        display: flex;
        gap: f.spacer(1);
        justify-content: center;
      }

      button[role="tab"] {
        width: f.spacer(4);
        height: f.spacer(4);
        padding: 0;
        cursor: pointer;
        border: none;
        border-radius: f.radius(pill);

        &[aria-selected="true"] {
          background-color: f.color(background, primary, normal);
        }
      }
    }

    .carousel-next {
      order: 3;
      cursor: pointer;
    }
  }
}
