@use "../functions" as f;

.modal,
.alert-dialog {
  padding: 0;
  color: inherit;
  background-color: f.color(background, surface, "1");
  border: f.border-width(s) solid f.color(border, neutral, "1");
  border-radius: f.radius(m);

  &::backdrop {
    background-color: rgb(0 0 0 / 40%);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: f.spacer(3);
    padding: f.spacer(4);
  }

  header {
    display: flex;
    flex-direction: row-reverse;
    gap: f.spacer(2);
    align-items: baseline;
    justify-content: space-between;
  }

  footer {
    display: flex;
    gap: f.spacer(2);
    justify-content: flex-end;
  }
}
