@use "../functions" as f;

.icon {
  display: inline-flex;
  gap: f.spacer(1);
  align-items: baseline;

  svg {
    width: 0.75em;
    width: 1cap;
    height: 0.75em;
    height: 1cap;
  }

  /* For LTR languages */
  &[data-text-position="before"] {
    > svg {
      order: 1;
    }

    > span {
      order: 0;
    }
  }

  &[data-text-position="after"] {
    > svg {
      order: 0;
    }

    > span {
      order: 1;
    }
  }
}

/* For RTL languages */
html[dir="rtl"] {
  .icon {
    &[data-text-position="before"] {
      > svg {
        order: 0;
      }

      > span {
        order: 1;
      }
    }

    &[data-text-position="after"] {
      > svg {
        order: 1;
      }

      > span {
        order: 0;
      }
    }
  }
}
