@use "../functions" as f;

.skeleton {
  cursor: progress;
  background: f.color(background, surface, "1");
  border-radius: f.radius(m);

  &[data-type="text-line"] {
    width: 100%;
    height: f.lines(single);
  }

  &[data-type="text-block"] {
    width: 100%;
    height: calc(4 * #{f.lines(single)});
  }

  &[data-type="image"] {
    width: 100%;
    height: 200px;
  }

  &[data-type="circle"] {
    width: 64px;
    height: 64px;
    border-radius: f.radius(circle);
  }

  &[data-type="rectangle"] {
    width: 200px;
    height: 100px;
  }

  &[data-type="square"] {
    width: 100px;
    height: 100px;
  }
}
