.tag {
  display: inline-flex;
  gap: var(--spacer-1);
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacer-2);
  font-size: var(--size-font-s);
  line-height: var(--size-line-single);
  color: var(--color-text-default-normal);
  background-color: var(--color-background-disabled-normal);
  border: var(--border-width-s) solid var(--color-border-neutral-1);
  border-radius: var(--radius-s);

  &[data-variant="primary"] {
    color: var(--color-text-primary-normal);
    background: var(--color-background-primary-subdued);
    border-color: var(--color-border-primary-subdued);
  }

  &[data-variant="secondary"] {
    color: var(--color-text-secondary-normal);
    background: var(--color-background-secondary-subdued);
    border-color: var(--color-border-secondary-subdued);
  }

  &[data-variant="info"] {
    color: var(--color-text-info-normal);
    background: var(--color-background-info-subdued);
    border-color: var(--color-border-info-subdued);
  }

  &[data-variant="success"] {
    color: var(--color-text-success-normal);
    background: var(--color-background-success-subdued);
    border-color: var(--color-border-success-subdued);
  }

  &[data-variant="warning"] {
    color: var(--color-text-warning-normal);
    background: var(--color-background-warning-subdued);
    border-color: var(--color-border-warning-subdued);
  }

  &[data-variant="danger"] {
    color: var(--color-text-danger-normal);
    background: var(--color-background-danger-subdued);
    border-color: var(--color-border-danger-subdued);
  }

  &[data-size="small"] {
    padding: var(--spacer-1);
    font-size: var(--size-font-xs);
    line-height: var(--size-line-half);
  }

  &[data-size="medium"] {
    font-size: var(--size-font-m);
  }

  &[data-size="large"] {
    padding: 0 var(--spacer-4);
    font-size: var(--size-font-l);
    line-height: var(--size-line-one-and-a-half);
  }

  &[data-shape="pill"] {
    padding-inline: var(--spacer-3);
    border-radius: var(--radius-pill);
  }
}
