/**
 * Applies a vertical margin between the child elements.
 */

@use "../functions" as f;

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & > * {
    margin-block: 0;
  }

  & > * + * {
    margin-block-start: var(--space, f.lines(1));
  }

  &.is-recursive {
    & * {
      margin-block: 0;
    }

    & * + * {
      margin-block-start: var(--space, f.lines(1));
    }
  }

  /*
  You can add modifiers like this:

      &.is-small > * + * {
        margin-top: var(--space, f.lines(0.5));
      }

  Or you can add exceptions like this:

      & > .some-component + * {
        margin-top: var(--space, f.lines(1.5));
      }

  This would apply a different margin between `.some-component` and the next
  element. Alternatively, you could also change the margin between some
  component and the previous element:

      & > * + .some-component {
        margin-top: var(--space, f.lines(1.5));
      }
  */
}
