/**
 * Aligns a sidebar and a content element side by side, if there is enough
 * space. Remaining space is given to the content.
 *
 *     <div class="with-sidebar">
 *       <div>sidebar</div>
 *       <div>content</div>
 *     </div>
 *
 *     <div class="with-sidebar has-sidebar-right">
 *       <div>content</div>
 *       <div>sidebar</div>
 *     </div>
 *
 * See also layouts/level.
 */

@use "../functions" as f;

.with-sidebar {
  --sidebar-width: 10rem;
  --content-min-width: 60%;
  --gap: #{f.spacer(4)};

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);

  &:not(.has-sidebar-right) {
    > :first-child {
      flex-grow: 1;
      flex-basis: var(--sidebar-width);
    }

    > :last-child {
      flex-grow: 666;
      flex-basis: 0;
      min-width: var(--content-min-width);
    }
  }

  &.has-sidebar-right {
    > :last-child {
      flex-grow: 1;
      flex-basis: var(--sidebar-width);
    }

    > :first-child {
      flex-grow: 666;
      flex-basis: 0;
      min-width: var(--content-min-width);
    }
  }

  /*
  You can add modifier classes like this:

      .is-main {
        --sidebar-width: 15rem;
        --content-min-width: 65%;
        --gap: #{f.lines(one_and_a_half)} #{f.spacer(6)};
      }
  */
}
