/**
 * Tokens are divided into:
 *
 * 1. Semantic color tokens
 * 2. Global non-color tokens
 * 3. Component tokens that reference the semantic color tokens and non-color
 *    tokens. Defined in the component styles.
 *
 * Component tokens are named --<component>[-<part>]-<property>[-<state>] (e.g.
 * --button-background, --combobox-option-background-selected,
 * --tree-item-toggle-size).
 */

:root {
  color-scheme: light;

  /* Semantic colors */
  --color-background-page: #fbfbfd;
  --color-background-surface: #eaebeb;
  --color-text-default: #212224;
  --color-text-muted: #494d51;
  --color-text-disabled: #83898e;
  --color-border-subtle: #d3d4d6;
  --color-border-control: #7e8388;
  --color-background-disabled-solid: #eaebeb;
  --color-text-disabled-solid: #a8acb0;
  --color-border-disabled-solid: #d3d4d6;
  --color-background-primary-solid: #0a53a7;
  --color-text-primary-solid: #fbfbfd;
  --color-border-primary-solid: #074a96;
  --color-background-primary-soft: #d4e4fd;
  --color-text-primary-soft: #064286;
  --color-border-primary-soft: #83b3fc;
  --color-background-warning-solid: #e7ce2e;
  --color-text-warning-solid: #1c1e1f;
  --color-border-warning-solid: #9c8808;
  --color-background-warning-soft: #f7e577;
  --color-text-warning-soft: #504402;
  --color-border-warning-soft: #cab317;
  --color-background-danger-solid: #fdb7c1;
  --color-text-danger-solid: #070808;
  --color-border-danger-solid: #f94677;
  --color-background-danger-soft: #fed8dc;
  --color-text-danger-soft: #7f0635;
  --color-border-danger-soft: #fd95a7;
  --color-text-danger: #b10025;
  --color-background-info-solid: #2ee1e0;
  --color-text-info-solid: #141516;
  --color-border-info-solid: #0b9c9a;
  --color-background-info-soft: #90f8f7;
  --color-text-info-soft: #035452;
  --color-border-info-soft: #19c3c2;
  --color-background-success-solid: #41e798;
  --color-text-success-solid: #181a1b;
  --color-border-success-solid: #24a064;
  --color-background-success-soft: #97fdc3;
  --color-text-success-soft: #105632;
  --color-border-success-soft: #32c981;
  --color-background-secondary-solid: #eaebeb;
  --color-text-secondary-solid: #494d51;
  --color-border-secondary-solid: #83898e;
  --color-background-secondary-soft: #d3d4d6;
  --color-text-secondary-soft: #282b2d;
  --color-border-secondary-soft: #afb2b6;

  /* Everything else */
  --border-width-sm: 1px;
  --border-width-md: 3px;
  --border-width-lg: 6px;
  --breakpoint-tablet: 769px;
  --breakpoint-desktop: 1024px;
  --breakpoint-widescreen: 1216px;
  --duration-sm: 100ms;
  --duration-md: 200ms;
  --duration-lg: 400ms;
  --duration-xl: 600ms;
  --font-family-main: system-ui, sans-serif;
  --font-family-mono: ui-monospace, monospace;
  --letter-spacing-normal: normal;
  --letter-spacing-wide: 0.1em;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-circle: 50%;
  --radius-pill: 999rem;
  --shadow-elevation-low: 0px 1px 2px 0px #0000000d;
  --shadow-elevation-medium:
    0px 4px 6px -1px #0000001a, 0px 2px 4px -1px #0000000f;
  --shadow-elevation-high:
    0px 10px 15px -3px #0000001a, 0px 4px 6px -2px #0000000d;
  --size-font-xs: 0.694rem;
  --size-font-sm: 0.833rem;
  --size-font-md: 1rem;
  --size-font-lg: 1.2rem;
  --size-font-xl: 1.44rem;
  --size-font-2xl: 1.728rem;
  --size-font-3xl: 2.074rem;
  --size-font-4xl: 2.488rem;
  --size-font-5xl: 2.986rem;
  --size-line-single: 1.5rem;
  --size-line-double: 3rem;
  --size-line-quarter: 0.375rem;
  --size-line-half: 0.75rem;
  --size-line-three-quarters: 1.125rem;
  --size-line-one-and-a-half: 2.25rem;
  --size-gutter: 1.5rem;
  --size-measure: 65ch;
  --size-spacer: 0.25rem;
  --spacer-1: var(--size-spacer);
  --spacer-2: calc(2 * var(--size-spacer));
  --spacer-3: calc(3 * var(--size-spacer));
  --spacer-4: calc(4 * var(--size-spacer));
  --spacer-5: calc(5 * var(--size-spacer));
  --spacer-6: calc(6 * var(--size-spacer));
  --spacer-7: calc(7 * var(--size-spacer));
  --spacer-8: calc(8 * var(--size-spacer));
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-bold: 700;
}

.theme-dark {
  color-scheme: dark;

  --color-background-page: #0e1319;
  --color-background-surface: #1e2021;
  --color-text-default: #edeeee;
  --color-text-muted: #ced0d2;
  --color-text-disabled: #61676b;
  --color-border-subtle: #2e3133;
  --color-border-control: #666c70;
  --color-background-disabled-solid: #1e2021;
  --color-text-disabled-solid: #4b4f53;
  --color-border-disabled-solid: #2e3133;
  --color-background-primary-solid: #66acff;
  --color-text-primary-solid: #0e1319;
  --color-border-primary-solid: #77b1fc;
  --color-background-primary-soft: #052e65;
  --color-text-primary-soft: #bedafd;
  --color-border-primary-soft: #094794;
  --color-background-warning-solid: #f0cf31;
  --color-text-warning-solid: #0e1319;
  --color-border-warning-solid: #caad12;
  --color-background-warning-soft: #383102;
  --color-text-warning-soft: #f6d645;
  --color-border-warning-soft: #564a03;
  --color-background-danger-solid: #ff81a2;
  --color-text-danger-solid: #0e1319;
  --color-border-danger-solid: #fd8da6;
  --color-background-danger-soft: #650527;
  --color-text-danger-soft: #fed1d9;
  --color-border-danger-soft: #92083c;
  --color-text-danger: #ff7777;
  --color-background-info-solid: #2be5de;
  --color-text-info-solid: #0e1319;
  --color-border-info-solid: #14c0bb;
  --color-background-info-soft: #033433;
  --color-text-info-soft: #38ece5;
  --color-border-info-soft: #035150;
  --color-background-success-solid: #44eb8e;
  --color-text-success-solid: #0e1319;
  --color-border-success-solid: #31c676;
  --color-background-success-soft: #08351f;
  --color-text-success-soft: #4ef395;
  --color-border-success-soft: #0f5332;
  --color-background-secondary-solid: #036;
  --color-text-secondary-solid: #fbfcfc;
  --color-border-secondary-solid: #4f86c6;
  --color-background-secondary-soft: #4b4f53;
  --color-text-secondary-soft: #edeeee;
  --color-border-secondary-soft: #474b4e;
}
