.combobox {
  position: relative;

  [hidden] {
    display: none;
  }

  .combobox-input-wrapper {
    display: flex;

    input {
      flex: 1;
      min-inline-size: 0;
      padding: var(--spacer-1) var(--spacer-2);
      border: var(--border-width-s) solid var(--color-border-neutral-2);
      border-radius: var(--radius-s);
      border-start-end-radius: 0;
      border-end-end-radius: 0;
    }
  }

  .combobox-toggle {
    padding-inline: var(--spacer-2);
    cursor: pointer;
    background: none;
    border: var(--border-width-s) solid var(--color-border-neutral-2);
    border-inline-start: none;
    border-radius: var(--radius-s);
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }

  /* Switch to the Popover API and anchor positioning once widely baseline
     available. */
  [role="listbox"] {
    position: absolute;
    inset-inline: 0;
    z-index: 1;
    max-block-size: 20rem;
    margin-block-start: var(--spacer-1);
    overflow-y: auto;
    background-color: var(--color-background-foundation);
    border: var(--border-width-s) solid var(--color-border-neutral-2);
    border-radius: var(--radius-s);
  }

  [role="option"] {
    padding: var(--spacer-1) var(--spacer-2);
    cursor: pointer;

    &:not([aria-disabled="true"]):hover {
      background-color: var(--color-background-surface-1);
    }

    &[aria-selected="true"] {
      background-color: var(--color-background-primary-subdued);
    }
  }

  .combobox-option-group-label {
    display: block;
    padding: var(--spacer-1) var(--spacer-2);
    font-size: var(--size-font-xs);
    font-weight: var(--weight-bold);
    color: var(--color-text-secondary-normal);
    text-transform: uppercase;
  }

  [role="group"] [role="option"] {
    padding-inline-start: var(--spacer-4);
  }

  hr {
    block-size: var(--border-width-s);
    margin-block: var(--spacer-1);
    background-color: var(--color-border-neutral-1);
    border: none;
  }

  [role="option"][aria-disabled="true"] {
    color: var(--color-text-disabled-normal);
    cursor: not-allowed;
  }

  .combobox-option-label,
  .combobox-option-description {
    display: block;
  }

  .combobox-option-description {
    font-size: var(--size-font-s);
    color: var(--color-text-secondary-normal);
  }
}
