.field-group {
  --field-group-gap: var(--spacer-4);
  --field-group-min-inline-size: 16rem;

  display: flex;
  flex-wrap: wrap;
  gap: var(--field-group-gap);

  > * {
    flex: 1 1 var(--field-group-min-inline-size);
  }
}
