.icon {
  --icon-gap: var(--spacer-1);
  --icon-size: 1cap;

  display: inline-flex;
  gap: var(--icon-gap);
  align-items: baseline;

  svg {
    inline-size: var(--icon-size);
    block-size: var(--icon-size);
  }

  &[data-text-position="before"] {
    flex-direction: row-reverse;
  }

  &[data-text-position="after"] {
    flex-direction: row;
  }
}
