@layer doggo {
  .icon {
    --icon-gap: var(--spacer-1);
    --icon-size: 1.25cap;

    display: inline-flex;
    gap: var(--icon-gap);
    align-items: baseline;

    svg {
      inline-size: var(--icon-size);
      block-size: var(--icon-size);
    }

    &:is([data-label-position="before"], [data-label-position="after"]) > svg {
      transform: translateY(calc((var(--icon-size) - 1cap) / 2));
    }

    &[data-label-position="before"] {
      flex-direction: row-reverse;
    }

    &[data-label-position="after"] {
      flex-direction: row;
    }
  }
}
