.icon {
  display: inline-flex;
  gap: var(--spacer-1);
  align-items: baseline;

  svg {
    inline-size: 0.75em;
    inline-size: 1cap;
    block-size: 0.75em;
    block-size: 1cap;
  }

  &[data-text-position="before"] {
    flex-direction: row-reverse;
  }

  &[data-text-position="after"] {
    flex-direction: row;
  }
}
