@layer doggo {
  .image {
    --image-frame-border-radius: var(--radius-md);
    --image-caption-font-size: var(--size-font-sm);
    --image-caption-color: var(--color-text-muted);
    --image-caption-margin-block-start: var(--spacer-2);

    margin: 0;

    > .image-frame {
      --frame-border-radius: var(--image-frame-border-radius);
    }

    > figcaption {
      margin-block-start: var(--image-caption-margin-block-start);
      font-size: var(--image-caption-font-size);
      color: var(--image-caption-color);
    }
  }
}
