.menu,
.menu-bar,
.menu-group {
  --menu-bar-gap: var(--spacer-2);
  --menu-item-padding-block: var(--spacer-1);
  --menu-item-padding-inline: var(--spacer-2);
  --menu-item-font-size: var(--size-font-sm);
  --menu-item-border-width: var(--border-width-sm);
  --menu-item-border-radius: var(--radius-sm);
  --menu-item-background-hover: var(--color-background-disabled-normal);
  --menu-item-border-color-focus: var(--color-border-primary-normal);
  --menu-separator-size: var(--border-width-sm);
  --menu-separator-margin-block: var(--spacer-1);
  --menu-separator-color: var(--color-border-neutral-1);

  padding: 0;
  margin: 0;
  list-style: none;
}

.menu,
.menu-group {
  display: flex;
  flex-direction: column;
}

.menu[hidden],
.menu-bar[hidden],
.menu-group[hidden] {
  display: none;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  gap: var(--menu-bar-gap);
}

.menu,
.menu-bar,
.menu-group {
  .menu-item,
  [role="menuitemcheckbox"],
  [role="menuitemradio"] {
    display: block;
    inline-size: 100%;
    padding: var(--menu-item-padding-block) var(--menu-item-padding-inline);
    font-size: var(--menu-item-font-size);
    text-align: start;
    cursor: pointer;
    background: none;
    border: var(--menu-item-border-width) solid transparent;
    border-radius: var(--menu-item-border-radius);

    &:hover {
      background-color: var(--menu-item-background-hover);
    }

    &:focus-visible {
      outline: none;
      border-color: var(--menu-item-border-color-focus);
    }
  }

  [role="menuitemcheckbox"][aria-checked="true"]::before,
  [role="menuitemradio"][aria-checked="true"]::before {
    content: "✓ ";
  }

  [role="menuitemcheckbox"][aria-checked="false"]::before,
  [role="menuitemradio"][aria-checked="false"]::before {
    content: "  ";
  }

  [role="separator"] {
    block-size: var(--menu-separator-size);
    margin: var(--menu-separator-margin-block) 0;
    background-color: var(--menu-separator-color);
  }
}
