.skeleton {
  --skeleton-background: var(--color-background-surface-1);
  --skeleton-border-radius: var(--radius-md);
  --skeleton-text-line-block-size: var(--size-line-single);
  --skeleton-text-block-lines: 4;
  --skeleton-image-block-size: 200px;
  --skeleton-circle-size: 64px;
  --skeleton-circle-border-radius: var(--radius-circle);
  --skeleton-rectangle-inline-size: 200px;
  --skeleton-rectangle-block-size: 100px;
  --skeleton-square-size: 100px;

  cursor: progress;
  background: var(--skeleton-background);
  border-radius: var(--skeleton-border-radius);

  &[data-type="text-line"] {
    inline-size: 100%;
    block-size: var(--skeleton-text-line-block-size);
  }

  &[data-type="text-block"] {
    inline-size: 100%;
    block-size: calc(
      var(--skeleton-text-block-lines) * var(--skeleton-text-line-block-size)
    );
  }

  &[data-type="image"] {
    inline-size: 100%;
    block-size: var(--skeleton-image-block-size);
  }

  &[data-type="circle"] {
    inline-size: var(--skeleton-circle-size);
    block-size: var(--skeleton-circle-size);
    border-radius: var(--skeleton-circle-border-radius);
  }

  &[data-type="rectangle"] {
    inline-size: var(--skeleton-rectangle-inline-size);
    block-size: var(--skeleton-rectangle-block-size);
  }

  &[data-type="square"] {
    inline-size: var(--skeleton-square-size);
    block-size: var(--skeleton-square-size);
  }
}
