.skeleton {
  cursor: progress;
  background: var(--color-background-surface-1);
  border-radius: var(--radius-m);

  &[data-type="text-line"] {
    inline-size: 100%;
    block-size: var(--size-line-single);
  }

  &[data-type="text-block"] {
    inline-size: 100%;
    block-size: calc(4 * var(--size-line-single));
  }

  &[data-type="image"] {
    inline-size: 100%;
    block-size: 200px;
  }

  &[data-type="circle"] {
    inline-size: 64px;
    block-size: 64px;
    border-radius: var(--radius-circle);
  }

  &[data-type="rectangle"] {
    inline-size: 200px;
    block-size: 100px;
  }

  &[data-type="square"] {
    inline-size: 100px;
    block-size: 100px;
  }
}
