.tab-navigation {
  --tab-navigation-gap: var(--spacer-1);
  --tab-navigation-padding-inline-start: var(--spacer-2);
  --tab-navigation-border-width: var(--border-width-sm);
  --tab-navigation-border-color: var(--color-border-subtle);
  --tab-navigation-tab-padding-block: var(--spacer-2);
  --tab-navigation-tab-padding-inline: var(--spacer-4);
  --tab-navigation-tab-color: var(--color-text-muted);
  --tab-navigation-tab-border-radius: var(--radius-md);
  --tab-navigation-tab-color-current: var(--color-text-secondary-soft);
  --tab-navigation-tab-font-weight-current: var(--weight-medium);
  --tab-navigation-tab-background-current: var(
    --color-background-secondary-soft
  );

  inline-size: 100%;
  overflow-x: auto;

  > ul {
    display: flex;
    gap: var(--tab-navigation-gap);
    align-items: center;
    padding-inline-start: var(--tab-navigation-padding-inline-start);
    margin-inline-start: 0;
    list-style-type: none;
    border-bottom: var(--tab-navigation-border-width) solid
      var(--tab-navigation-border-color);

    > li {
      > a {
        display: block;
        padding: var(--tab-navigation-tab-padding-block)
          var(--tab-navigation-tab-padding-inline);
        color: var(--tab-navigation-tab-color);
        text-decoration: none;
        border-top-left-radius: var(--tab-navigation-tab-border-radius);
        border-top-right-radius: var(--tab-navigation-tab-border-radius);

        &[aria-current] {
          font-weight: var(--tab-navigation-tab-font-weight-current);
          color: var(--tab-navigation-tab-color-current);
          background: var(--tab-navigation-tab-background-current);
          border: var(--tab-navigation-border-width) solid
            var(--tab-navigation-border-color);
          border-bottom-width: 0;
        }
      }
    }
  }
}
