.tab-navigation {
  inline-size: 100%;
  overflow-x: auto;

  > ul {
    display: flex;
    gap: var(--spacer-1);
    align-items: center;
    padding-inline-start: var(--spacer-2);
    margin-inline-start: 0;
    list-style-type: none;
    border-bottom: var(--border-width-s) solid var(--color-border-neutral-1);

    > li {
      > a {
        display: block;
        padding: var(--spacer-2) var(--spacer-4);
        color: var(--color-text-secondary-normal);
        text-decoration: none;
        border-top-left-radius: var(--radius-m);
        border-top-right-radius: var(--radius-m);

        &[aria-current] {
          font-weight: var(--weight-medium);
          background: var(--color-background-secondary-normal);
          border: var(--border-width-s) solid var(--color-border-neutral-1);
          border-bottom-width: 0;
        }
      }
    }
  }
}
