.tag {
  --tag-gap: var(--spacer-1);
  --tag-padding-block: 0;
  --tag-padding-inline: var(--spacer-2);
  --tag-font-size: var(--size-font-sm);
  --tag-line-height: var(--size-line-single);
  --tag-color: var(--color-text-default-normal);
  --tag-background: var(--color-background-disabled-normal);
  --tag-border-width: var(--border-width-sm);
  --tag-border-color: var(--color-border-neutral-1);
  --tag-border-radius: var(--radius-sm);

  display: inline-flex;
  gap: var(--tag-gap);
  align-items: center;
  justify-content: center;
  padding: var(--tag-padding-block) var(--tag-padding-inline);
  font-size: var(--tag-font-size);
  line-height: var(--tag-line-height);
  color: var(--tag-color);
  background-color: var(--tag-background);
  border: var(--tag-border-width) solid var(--tag-border-color);
  border-radius: var(--tag-border-radius);

  &[data-variant="primary"] {
    --tag-color: var(--color-text-primary-normal);
    --tag-background: var(--color-background-primary-subdued);
    --tag-border-color: var(--color-border-primary-subdued);
  }

  &[data-variant="secondary"] {
    --tag-color: var(--color-text-secondary-normal);
    --tag-background: var(--color-background-secondary-subdued);
    --tag-border-color: var(--color-border-secondary-subdued);
  }

  &[data-variant="info"] {
    --tag-color: var(--color-text-info-normal);
    --tag-background: var(--color-background-info-subdued);
    --tag-border-color: var(--color-border-info-subdued);
  }

  &[data-variant="success"] {
    --tag-color: var(--color-text-success-normal);
    --tag-background: var(--color-background-success-subdued);
    --tag-border-color: var(--color-border-success-subdued);
  }

  &[data-variant="warning"] {
    --tag-color: var(--color-text-warning-normal);
    --tag-background: var(--color-background-warning-subdued);
    --tag-border-color: var(--color-border-warning-subdued);
  }

  &[data-variant="danger"] {
    --tag-color: var(--color-text-danger-normal);
    --tag-background: var(--color-background-danger-subdued);
    --tag-border-color: var(--color-border-danger-subdued);
  }

  &[data-size="small"] {
    --tag-padding-block: var(--spacer-1);
    --tag-padding-inline: var(--spacer-1);
    --tag-font-size: var(--size-font-xs);
    --tag-line-height: var(--size-line-half);
  }

  &[data-size="medium"] {
    --tag-font-size: var(--size-font-md);
  }

  &[data-size="large"] {
    --tag-padding-inline: var(--spacer-4);
    --tag-font-size: var(--size-font-lg);
    --tag-line-height: var(--size-line-one-and-a-half);
  }

  &[data-shape="pill"] {
    --tag-padding-inline: var(--spacer-3);
    --tag-border-radius: var(--radius-pill);
  }
}
