.tree,
.tree [role="group"] {
  padding-inline-start: var(--tree-group-padding-inline-start);
  margin: 0;
  list-style: none;
}

.tree {
  --tree-group-padding-inline-start: var(--spacer-4);
  --tree-item-padding-block: var(--spacer-1);
  --tree-item-font-weight-tabbable: var(--weight-bold);
  --tree-item-outline-width: var(--border-width-m);
  --tree-item-outline-color: var(--color-border-primary-normal);
  --tree-item-outline-offset: var(--border-width-s);
  --tree-item-toggle-size: var(--spacer-6);

  padding-inline-start: 0;
}

.tree [role="treeitem"] {
  padding: var(--tree-item-padding-block) 0;

  &[tabindex="0"] > span {
    font-weight: var(--tree-item-font-weight-tabbable);
  }

  &:focus-visible {
    outline: var(--tree-item-outline-width) solid var(--tree-item-outline-color);
    outline-offset: var(--tree-item-outline-offset);
  }

  &[aria-selected="true"] > span::after {
    content: " ✓";
  }

  > .tree-item-toggle {
    /* WCAG 2.5.8 minimum target size is 24px */
    display: inline-grid;
    place-items: center;
    inline-size: var(--tree-item-toggle-size);
    block-size: var(--tree-item-toggle-size);
    padding: 0;
    vertical-align: middle;
    cursor: pointer;
    background: none;
    border: none;

    &::before {
      content: "▸";
    }
  }

  &[aria-expanded="true"] > .tree-item-toggle::before {
    content: "▾";
  }
}
