@layer doggo {
  .tree,
  .tree [role="group"] {
    padding-inline-start: var(--tree-group-padding-inline-start);
    margin: 0;
    list-style: none;
  }

  .tree {
    --tree-group-padding-inline-start: var(--tree-item-toggle-size);
    --tree-item-padding-block: var(--spacer-1);
    --tree-item-gap: var(--spacer-1);

    /* WCAG 2.5.8 minimum target size is 24px */
    --tree-item-toggle-size: var(--spacer-6);
    --tree-item-caret-font-size: var(--size-font-lg);
    --tree-item-icon-size: 1em;
    --tree-item-caret-color: var(--color-text-muted);
    --tree-item-outline-width: var(--border-width-md);
    --tree-item-outline-color: var(--color-border-primary-solid);
    --tree-item-outline-offset: var(--border-width-sm);

    padding-inline-start: 0;
  }

  .tree [role="treeitem"] {
    display: grid;
    grid-template-columns: var(--tree-item-toggle-size) 1fr;
    align-items: center;
    padding-block: var(--tree-item-padding-block);

    > .tree-item-toggle {
      display: grid;
      grid-column: 1;
      place-items: center;
      inline-size: var(--tree-item-toggle-size);
      block-size: var(--tree-item-toggle-size);
      padding: 0;
      font-size: var(--tree-item-caret-font-size);
      color: var(--tree-item-caret-color);
      cursor: pointer;
      background: none;
      border: none;

      &::before {
        content: "▸";
      }
    }

    > span {
      display: flex;
      grid-column: 2;
      gap: var(--tree-item-gap);
      align-items: center;

      svg {
        flex: none;
        inline-size: var(--tree-item-icon-size);
        block-size: var(--tree-item-icon-size);
      }
    }

    > [role="group"] {
      grid-column: 1 / -1;
    }

    &[aria-expanded="true"] > .tree-item-toggle::before {
      content: "▾";
    }

    &[aria-selected="true"] > span::after {
      content: "✓";
    }

    &:focus-visible {
      outline: none;

      > span {
        outline: var(--tree-item-outline-width) solid
          var(--tree-item-outline-color);
        outline-offset: var(--tree-item-outline-offset);
      }
    }
  }
}
