/**
 * This module defines all placeholder selectors that can be used with @extend
 * (see https://sass-lang.com/documentation/at-rules/extend).
 *
 * To use one of these placeholder selectors, you have to `@use` this module:
 *
 *     @use "../extends";
 *
 *     .some-class {
 *       @extend %stack;
 *     }
 */

@use "functions" as f;

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
}
